.main_form{
  
      background-color: lightgrey;
    height: 400px;
    width: 1000px;
    margin-left: 150px;

}
.fomr_1{
  display: grid;
    grid-template-columns: 340px 245px;
    margin: 4px;
    padding: 10px 189px;
}
.fomr_2{
      display: grid;
    grid-template-columns: 341px 153px 150px;
    margin: -57px 139px;
    padding: 52px;
}
.fomr_3{
  display: grid;
    grid-template-columns: 346px 280px;
    margin: 0px 170px;
    padding: 15px;
}
.field{
  width: 300px;
  height: 30px;
}
.field1{
  width: 140px;
  height: 30px;
}
.dropbtn {
  color: green;
text-align: center;
  font-size: 16px;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 25px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#first_button{
  margin-left: 549px;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
 
 #page_6{
  margin-top: -200px; 
 }







