.point{
	font-size: 30px;
	color: #ff0000;
	margin-top: 04px;
}
.logo1{
	width:50px;
	height:50px;
}
.container{
	display: grid;
	grid-template-columns:  40px 120px 90px 90px  90px 90px 350px 90px;
	text-align: center;
	margin-right: 200px;
	position: fixed;
}
.home{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
	
}
.About{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
}
.Team{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
}
.Events{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
}
.Signin{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;
}
.Login{
	text-decoration: none;
	font-size: 20px;
	margin-top: 10px;

}
.h-img{
	width:993px;
	height: 400px;
	margin-top: 50px;
}
p{
	color: #ffffff;
	font-size: 40px;
	margin-top: -300px;
	margin-left: 440px;
}
.about{
	color: #ffffff;
	font-size: 15px;
	margin-top: -40px;
	margin-left: 440px;
}
.para{
	color: #ffffff;
	font-size: 15px;
	margin-top: -8px;
	margin-left: 460px;
}
.button1{
	border:2px solid red;
	border-radius: 40px;
	padding: 10px;
	background-color: #ff0000;
	margin-left: 550px;
	margin-top: 30px;
}







    
    