.container{
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: green;
}
.img{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;	
	padding-top: 50px; 
}
.img1{
	height:200px;
	width: 300px;

}
.img2{
	height:200px;
	width: 300px;

}
.img3{
	height:200px;
	width: 300px;

}
.blog{
	text-align: center;
	justify-content: center;
	color: red;
}


span{
	color:red;
}
.p1{
	height:300px;
	width: 300px;
}
.p2{
	height:300px;
	width: 300px;
}
.p3{
	height:300px;
	width: 300px;
}
.home{
	
	text-decoration: none;
	
	
}






