.container2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;  
  padding-top: 50px; 
}
.img1{
  height:200px;
  width: 300px;

}
.name1{

 margin-bottom: 50px;
 
 margin-left: 50px;


}
.day{
  margin:20px;
}
.grid1{
  display: grid;
  grid-auto-columns: auto auto auto auto;
  justify-content: space-around;
}