.div1{
	display: flex;
	/*background-color: green;*/
	justify-content: space-around;
	background-color: white;
}
.div2{
	display: flex;
	/*background-color: green;*/
	justify-content: space-around;
	background-color: white;
}
.div3{
	display: flex;
	/*background-color: green;*/
	justify-content: space-around;
	background-color: white;
}
.pad1{
	margin:50px;
	font-size: 30px;
	color: #000000;
}
.fourth{
	background-color: grey;
}